{%extends 'base.html'%}
{%block content%}
{% load bootstrap3 %} {% load staticfiles%}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <br><br>
            <div class="well" style="background-color: #16789f">
                <h1 style="color: azure">Businesses in {{ neighbourhood.name }} Estate</h1>
            </div>
            {%if businesses%}
            {%for business in businesses%}


            <p><b>Business Name:</b> {{business.name}}</p>
            <p><b>Description:</b> {{business.description}}</p>
            <p><b>Contact:</b> {{business.email}}</p>
            <hr><hr>
        
            {%endfor%}
            {%else%}
            <p><b>No businesses posted in {{ neighbourhood.name }} Estate at the moment</b></p>
            <br>
            <a href="{%url 'new_business' pk=neighbourhood.id %}"">
                    <button type=" button" class="btn btn-primary" style="width: 100%">Be the first to
                Post a Business</button></a>
            {%endif%}
        </div>
        <div class="col-md-2"></div>

        <div class="col-md-5">
            <br><br>
            <div class="well" style="background-color: #16789f">
                <h1 style="color: azure">Posts in {{ neighbourhood.name }} Estate</h1>
            </div>
            {%if posts%}
            {%for post in posts%}
            <p>Post by {{post.user}}</p>
            <p>Post Details: {{post.post}}</p>

            <hr><hr>
            {%endfor%}
            {%else%}
            <p><b>There are no post(s) in {{ neighbourhood.name }} Estate at the moment</b></p>
            <br>
            <a href="{%url 'new_post' pk=neighbourhood.id %}"">
                    <button type=" button" class="btn btn-primary" style="width: 100%">Be the first to
                Post</button></a>

            {%endif%}
        </div>
    </div>
</div>
{%endblock%}