{%extends 'base.html'%}
{%block content%}
{% load bootstrap3 %} {% load staticfiles%}

<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div style="width:100%;" class="w3-container card">

                <div class="w3-card" style="width:100%;">
                    <header class="w3-container" style="background-color:#16789f">

                        <h4>Police Hotline</h4>

                    </header>
                    <br>
                    <div class="w3-container">
                        <p style="color: black">
                            Phone: 999-999-999<br>
                            Fax:   +999-999 <br>
                            Email:  makarao@stenje.com
                        </p>
                    </div>
                    <footer class="w3-container" style="background-color:crimson">
                        <br>

                    </footer>

                </div>
            </div>
        </div>
        <div class="col-md-6">

                <div style="width:100%;" class="w3-container card">

                        <div class="w3-card" style="width:100%;">
                            <header class="w3-container" style="background-color:#16789f">
        
                                <h4>Community Dispensary</h4>
        
                            </header>
                            <br>
                            <div class="w3-container">
                                <p style="color: black">
                                    Phone: 123-456-789<br>
                                    Fax:   +123-456 <br>
                                    Email:  healthcare@ER.com
                                </p>
                            </div>
                            <footer class="w3-container" style="background-color:crimson">
                                <br>
        
                            </footer>
        
                        </div>
                    </div>
        </div>
    </div>
</div>

{%endblock%}