{%extends 'base.html'%}
{% load static %}
{% block content %}
{{block.super}}

<br>
<br>
<br>


<div class="container">
  <div class="row">
    {% for neighbourhood in neighbourhoods %}
    <div class="col-md-4">

      <div class="w3-card" style="width:100%; overflow:hidden;">
        <header class="w3-container" style="background-color:#16789f">
          <h4>Neighbourhood Name: {{ neighbourhood.name }}</h4>
          <p class='article-content'>Location: {{ neighbourhood.location }}</p>
        </header>
        <br>
        <div class="w3-container">
          <img src="{{ neighbourhood.image.url }}" alt="image" style="width:100%; height:30vh;">
        </div>
        <footer class="w3-container">
          <br>
          <a href="{%url 'detail' neighbourhood.id %}" style="text-decoration:none;"><button class="btn btn-primary center-block"">Join Neighbourhood</button></a>
          <br>
        </footer>
      </div>
      <br><br><br><br>


    </div>
    {%endfor%}
  </div>

</div>

{% endblock %}
