{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block styles%}
{% bootstrap_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
  integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/index.css' %}">
{%endblock %}

{% block content %}



<div class="container headers">
  <h4 style="float:left;"><span class="bold">Uploaded Websites</h4>
  <!-- <h4 style="float:right"><span><span class="bold">Mobile Excellence</span>  Recognized by Google</span></h4> -->
</div>
<div class="pages">
  <div class="row">
    {% for winner in winners %}
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card" style="width: 40.2rem;">
        <img class="card-img-top img-responsive" src="{{winner.landing_page.url}}" alt="Card image cap" responsive>
        <div class="card-body">
          <a href="/site/{{winner.id}}" style="color:black;text-decoration:none;">
            <h5 class="card-title" style="line-height:28px;">{{winner.title}}</h5>
          </a>
          <p class="card-text">From {{winner.country}}<span class="date">{{winner.post_date}}</span></p>
        </div>
        <div class="card-footer ">
          <div class="user-image">
            <img src="{{winner.avatar.url}}" class="gallery-image" alt="" width=8 height=8>
            <a href="/user/{{winner.username}}" style="color:black;text-decoration:none;margin:auto;">
              <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">
                {{winner.username}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


</div>
</div>


</div>
</div>


<div class="pages">
  <div class="row">
    {% for resource in resources2 %}
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
      <div class="card" style="width: 40.2rem;">
        <img class="card-img-top img-responsive" src="{{resource.landing_page.url}}" alt="Card image cap" responsive>
        <div class="card-body">
          <a href="/site/{{resource.id}}" style="color:black;text-decoration:none;">
            <h5 class="card-title" style="line-height:28px;">{{resource.title}}</h5>
          </a>
          <p class="card-text">From {{resource.country}}<span class="date">{{resource.post_date}}</span></p>
        </div>
        <div class="card-footer ">
          <div class="user-image">
            <img src="{{resource.avatar.url}}" class="gallery-image" alt="" width=8 height=8>
            <a href="/user/{{resource.username}}" style="color:black;text-decoration:none;margin:auto;">
              <p style="font-size: 13px; font-weight: lighter;margin:auto; padding:2px;text-transform: uppercase;">
                {{resource.username}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.1.3/circle-progress.min.js"></script>

<script>
  /**
  *Exampe from https://kottenator.github.io/jquery-circle-progress/
  */
  var progressBarOptions = {
    startAngle: -1.55,
    size: 100,
    value: {{ caraousel.design }},
  fill: {
    color: 'Chocolate'
  }
}
  $('.circle').circleProgress(progressBarOptions).on('circle-animation-progress', function (event, progress, stepValue) {
    $(this).find('strong').text(String((stepValue / 10).toFixed(2)));
  });
  $('#circle-b').circleProgress({
    value: {{ caraousel.usability }},
    fill: {
      color: 'Khaki'
    }
});
  $('#circle-c').circleProgress({
    value: {{ caraousel.creativity }},
    fill: {
      color: 'DarkTurquoise'
    }
});
  $('#circle-d').circleProgress({
    value: {{ caraousel.content }},
    fill: {
      color: 'SteelBlue'
    }
});

</script>

{% endblock %}